<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ok100.weather">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".gb.stickercamera.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.StatusBarWhite.NoActionBar">
        <activity android:name=".activity.ZhutiImgeActivity"></activity>
        <activity android:name=".activity.ShareMainActivity" />
        <activity android:name=".activity.NoticeCenterActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.MyCityActivity" />
        <activity android:name=".activity.UserInofActivity" />
        <activity android:name=".activity.NoticeDetatilActivity" />
        <activity android:name="com.ok100.weather.gh.GH_MapActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectPicPopupWindowActivity"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name=".gh.MineCenterActivity" /> <!-- 中间是国斌引入 -->
        <activity
            android:name=".gb.stickercamera.app.camera.ui.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".gb.stickercamera.app.camera.ui.CropPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".gb.stickercamera.app.camera.ui.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".gb.stickercamera.app.camera.ui.PhotoProcessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".gb.stickercamera.app.ui.EditTextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <provider
            android:name=".gb.util.MyFileProvider"
            android:authorities="com.ok100.weather"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".gb.view.HomeActivity"></activity> <!-- 中间是国斌引入 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ok100.weather"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>